<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    @*  <link href="../../Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    @* <link href="../../Content/app.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">


</head>
<body>


    @*<nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header" role="navigation">*@



    <div class="container-fluid text-center">
        <div class="row">
           <h1 class="impact">Integral Messaging</h1>
        </div>
        <div>
            <article><h4>Health care software, email marketing...</h4></article>
        </div>


    </div>
    <div class="row blackBorder" style="height:4px">

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1" style="margin-left:10px;margin-right:40px; padding-top:15px">
              
                <p>@Html.ActionLink("Home", "Index", "Home", new { type = "button" }, new { @class = "btn", @style = "width:120px" })</p>
                <p>@Html.ActionLink("Services", "Services", "Home", new { type = "button" }, new { @class = "btn" })</p>
                <p>@Html.ActionLink("Blog", "Index", "Home", new { type = "button" }, new { @class = "btn", @style = "width:120px" })</p>
               
            </div>
           

            <div class="col-sm-6" style="border-top:0; border-bottom:0; border-left:4px; border-right:4px; border-style:inset; margin-left:20px;padding-top:15px">
                @RenderBody()
            </div>
            <div class="col-sm-4" style="margin-right:0; margin-left:25px; padding-top:15px">
                @Html.Partial("~/Views/Contact/RenderReportContactForm.cshtml")

            </div>
        </div>
    </div>




    @*<footer class="container-fluid">

        </footer>*@
    @*  <script src="~/Scripts/classie.js"></script>*@
    @* <script src="~/Scripts/cbpAnimatedHeader.js"></script>*@
    <script type="text/javascript">
        var elem = ["Email Marketing", "Direct Mail", "BMW"];
    </script>
</body>

</html>
