
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    @*  <link href="../../Content/bootstrap.min.css" rel="stylesheet" />*@
   
    @* <link href="../../Content/app.css" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/css?family=Anton&effect=3d-float|ice" rel="stylesheet">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.lettering-0.6.1.min.js"></script>
    <script src="~/Scripts/jquery.textillate.js"></script>
    <script src="~/Scripts/jquery.marquee.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif|Raleway">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body style="background-color:#e8dede">


    @*<nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header" role="navigation">*@



    <div class="container">
        <div class="jumbotron">
            <div class="row text-center  header">
                <h1 class="headline">Integral Messaging </h1>
            </div>
            <div class="row headline2">
               
                   <h4 id="secHeadLine" ></h4>
                
            </div>
            <div class="row">


                @*<p>@Html.ActionLink("Home", "Index", "Home", new { type = "button" }, new { @class = "btn", @style = "width:120px" })</p>
            <p>@Html.ActionLink("Services", "Services", "Home", new { type = "button" }, new { @class = "btn" })</p>
            <p>@Html.ActionLink("Blog", "Index", "Home", new { type = "button" }, new { @class = "btn", @style = "width:120px" })</p>*@
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                             <li>@Html.ActionLink("Home","Index","Home")</li>
                           @* <li><button type="button" class="btn btn-smaller">Home</button></li>*@
                            <li> @Html.ActionLink("Email Marketing","EmailMarketing","Home")
                            </li>
                           
                            <li>
                                @Html.ActionLink("Blog", "Index", "Blog")
                            </li>
                            <li>
                                @Html.ActionLink("About Me", "About", "Home")
                            </li>
                          
                            <li>@Html.ActionLink("Contact Me", "RenderReportContactForm", "Contact")</li>
                           
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row artcl">
                @RenderBody()
            </div>
                    

            </div>


        </div>

     
   
    <div id="divSecHeadline" style="display:none">
        Email Marketing, Software Copywriting,White Papers, Will Work on Spec, Tell Story
    </div>


    <script type="text/javascript">
        var secondHeadTxt = $('#divSecHeadline').text().split(',');
        var lastUsed = secondHeadTxt.length - 1;      
        $(document).ready(function () {
            ShowSecondHeadline();
        });

        function ShowSecondHeadline() {
            idx = GetRand();
            $('#secHeadLine').text(secondHeadTxt[idx]);
            $('#secHeadLine').fadeIn(2000, function () {
                $('#secHeadLine').fadeOut(2000, function () {
                    lastUsed = idx;
                    ShowSecondHeadline();
                })
            });
        }

        function GetRand() {
            return Math.floor(Math.random() * 20);
        }

        @*$('a').click(function () {
            var url;
            if ($(this).attr('id') == "Index") {
                url = '@Url.Action("_Index","Home")';
            }
            else
                if ($(this).attr('id') == "Contact") {
                url = '@Url.Action("Contact", "Home")';
                }
                 else
                if ($(this).attr('id') == "About") {
                url = '@Url.Action("About", "Home")';
                }
              else
                    if ($(this).attr('id') == "EmailMarketing") {
                url = '@Url.Action("EmailMarketing", "Home")';
                }

            LoadView(url);
        });*@

        function LoadView(url) {
            $.ajax({
                url: url,
                dataType: 'html',
                success: function (data) {
                    $('#main').html(data);
                }

           });
        }


    </script>
</body>

</html>
