<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    @*  <link href="../../Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    @* <link href="../../Content/app.css" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/css?family=Spectral&effect=brick-sign" rel="stylesheet">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.lettering-0.6.1.min.js"></script>
    <script src="~/Scripts/jquery.textillate.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif|Raleway">


</head>
<body>


    @*<nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header" role="navigation">*@



    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8">

                <div class="row text-center header headline">
                   Integral Messaging 
                   
                </div>
               
                <div class="row">
                    @*<p>@Html.ActionLink("Home", "Index", "Home", new { type = "button" }, new { @class = "btn", @style = "width:120px" })</p>
                        <p>@Html.ActionLink("Services", "Services", "Home", new { type = "button" }, new { @class = "btn" })</p>
                        <p>@Html.ActionLink("Blog", "Index", "Home", new { type = "button" }, new { @class = "btn", @style = "width:120px" })</p>*@
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Services", "Index", "Home")</li>
                            </ul>
                        </div>
                    </nav>

                </div>
                <div class="row artcl">
                    @RenderBody()
                </div>

            </div>
            <div class="col-sm-2"></div>


        </div>
    </div>










    <script type="text/javascript">
        $(document).ready(function () {
            $('.marquee').marquee({
                //speed in milliseconds of the marquee
                duration: 5000,
                //gap in pixels between the tickers
                gap: 50,
                //time in milliseconds before the marquee will start animating
                delayBeforeStart: 0,
                //'left' or 'right'
                direction: 'left',
                //true or false - should the marquee be duplicated to show an effect of continues flow
                duplicated: true
            });
        });
    </script>
</body>

</html>
